:ruby
  meta_tags = {
    title: "#{truncate @message.user.try(:name), length: 16}: #{truncate @message.body, length: 64}",
    og: {
      site_name: 'PokéTalk | ポケトーク',
      title: "#{truncate @message.user.try(:name), length: 16}: #{truncate @message.body, length: 64}",
      description: truncate(@message.body, length: 512)
    }
  }
  if @message.image_url.present?
    meta_tags.merge!(
      og: { image: @message.image_url },
      twitter: { image: @message.image_url }
    )
  end

  set_meta_tags(meta_tags)


%div#single-message
  = link_to root_path do
    %header
      %h1 PokéTalk - ポケトーク
  .content
    %div.message
      %div.message-user-name
        = @message.user.try(:name)
      %div.message-body
        %p.text
          = @message.body
        - if @message.image_url.present?
          %div.image-attachment
            %img{src: @message.image_url}
        - if @message.location && @message.location_visible
          %div.map
            %iframe{src: "https://www.google.com/maps/embed/v1/place?q=#{@message.location[1]}%2C#{@message.location[0]}&key=AIzaSyA82ZgwRZlALXKLqlrOZGHoMaeFaA8gGRY"}
          %p
            = link_to 'Google マップで開く', "https://www.google.com/maps?q=#{@message.location[1]}%2C#{@message.location[0]}", target: '_blank'
      %div.time
        = I18n.l(@message.created_at, format: :short)
  %div.go-dialog
    %p PokéTalk (ポケトーク) は近くのポケモンGOユーザーとチャットできるサービスです
    = link_to 'いますぐ参加', {controller: :rooms, action: :show, id: @message.room.name}, class: 'button'
  %footer
    %p PokéTalk - ポケトーク
    %p
      ©
      %a{href:'https://twitter.com/shao1555'} shao1555
      —
      %a{href:'https://goo.gl/forms/M23NzayQR5X2ZFxq2'} 開発者に連絡

