= javascript_include_tag 'room'

%div.template
  %div#message-bubble-template
    %div.message
      %div.message-user-name
      %div.message-body
        %p.text
        %div.image-attachment
        %div.map
      %a.permalink{href: '#', target: '_blank'}
        %div.time

%div#cover
  %header
    PokéTalk - ポケトーク
  %p
    現在地周辺の会話を表示します
  %p
    %i.fa.fa-spinner.fa-spin
  %p
    位置情報の提供を許可してください

%div#wait-for-location
  %header
    PokéTalk - ポケトーク
  %p
    現在地周辺の会話を表示します
  %p
    %i.fa.fa-spinner.fa-spin
  %p
    位置情報を受信中です。もう少しお待ちください。

%div#room{data: { room_id: @room.id, current_user_id: current_user.try(:id), distance: @distance } }
  %div.talk-container.flex-layout-box
    %div.brand
    %nav#room-top-bar.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
              周囲#{@distance}km
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to '1km', params.merge({distance: 1})
              %li
                = link_to '5km', params.merge({distance: 5})
              %li
                = link_to '20km', params.merge({distance: 20})
              %li
                = link_to '50km', params.merge({distance: 50})


    %div.messages
      .empty-view
        %p
          周辺での発言はまだありません
        %p
          チャットに参加し、あなたの近くでみつけたポケモンを投稿してみましょう

    %nav.navbar.navbar-default.navbar-fixed-bottom
      = form_for @room.messages.new, format: :json, html: { class: 'message-composer' }, remote: true do |f|
        = f.text_area :body, class: 'form-control', row: 1, placeholder: 'メッセージを入力'
        = f.fields_for :location do |location|
          = location.hidden_field :latitude
          = location.hidden_field :longitude
        = f.hidden_field :room_id, value: @room.id
        = f.hidden_field :location_visible, value: 'false'
        = f.hidden_field :image_url, value: nil
        = f.submit '送信', class: 'btn btn-default'
        %label#image-picker-button.btn.btn-default{for: 'image-picker'}
          %i.fa.fa-file-picture-o
        %input#image-picker.btn.btn-default{type: :file}
        %a#location-button.btn.btn-default
          %i.fa.fa-map-pin
      = form_for User.new, format: :json, html: { class: 'user-sign-up' }, remote: true do |f|
        = f.text_field :name, class: 'form-control', placeholder: 'ニックネームを入力'
        = f.submit 'チャットに参加', class: 'btn btn-default'
