= javascript_include_tag 'room'


%div.template
  %div#message-bubble-template
    %div.message
      %div.message-user-name
      %div.message-body
        %p.text
        %div.image-attachment
        %div.map
      %div.time

%div#cover
  %p
    現在地周辺の会話を表示します
  %p
    位置情報の提供を許可してください
  %p
    または以下のスポットを表示
  %ul
    %li 新宿御苑 (東京都新宿区)
    %li 赤レンガ倉庫 (横浜市中区)
    %li 鶴舞公園 (名古屋市昭和区)
    %li 円山公園 (京都市東山区)
    %li 大阪城公園 (大阪市中央区)
    %li 大濠公園 (福岡市中央区)

%div#wait-for-location
  %p
    現在地を特定中です ...

%div#room{data: { room_id: @room.id, current_user_id: current_user.id } }
  %div.talk-container.flex-layout-box
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        %ul.nav.navbar-nav.navbar-left
          %li
            = link_to root_path, class: 'navbar-brand' do
              = "##{@room.name}"
          %li
            %a{href: '#'} range: 5km

    %div.messages

    %nav.navbar.navbar-default.navbar-fixed-bottom
      = form_for @room.messages.new, format: :json, html: {class: 'message-composer'}, remote: true do |f|
        = f.text_area :body, class: 'form-control', row: 1, placeholder: 'メッセージを入力'
        = f.fields_for :location do |location|
          = location.hidden_field :latitude
          = location.hidden_field :longitude
        = f.hidden_field :room_id, value: @room.id
        = f.hidden_field :location_visible, value: 'false'
        = f.hidden_field :image_url, value: nil

        = f.submit '送信', class: 'btn btn-default'
        - # 以下はハリボテ
        %label#image-picker-button.btn.btn-default{for: 'image-picker'}
          %i.fa.fa-file-picture-o
        %input#image-picker.btn.btn-default{type: :file}
        %a#location-button.btn.btn-default
          %i.fa.fa-map-pin

