!!!
%html
  %head
    = display_meta_tags(default_meta_tags)
    = stylesheet_link_tag    'application', media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag 'application', data: { turbolinks_track: true }
    = csrf_meta_tags
    %meta{content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport'}
  %body
    / Google Tag Manager
    %noscript
      %iframe{height: 0, src: '//www.googletagmanager.com/ns.html?id=GTM-NPGVFS', style: 'display:none;visibility:hidden', width: 0}
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NPGVFS');
    / End Google Tag Manager
    = yield
